# Prerequisites
*.d
# Compiled Object files
*.slo
*.lo
*.o
*.obj

cmake-build-debug/.ninja_deps
cmake-build-debug/.ninja_log
cmake-build-debug/Testing

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Algorithms
/x64/Debug
*.sln
/Algorithms.vcxproj
/Algorithms.vcxproj.filters
/Algorithms.vcxproj.user
/.gitignore
/.gitignore
.idea

cmake-build-debug/